# Add any directories, files, or patterns you don't want to be tracked by version control
obj
bin
Debug
Release
.idea
.vs
*.dll
*.user
*.idea
packages

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.GQLSubscription.iml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
